<div>
    <h3>Piatto @Model.Id</h3>
    <dl class="row">
        <dt class="col-sm-6">
            Nome
        </dt>
        <dt class="col-sm-6">
            @Model.Nome
        </dt>
        <dt class="col-sm-6">
            Descrizione
        </dt>
        <dt class="col-sm-6">
            @Model.Descrizione
        </dt>
        <dt class="col-sm-6">
            Tipologia
        </dt>
        <dt class="col-sm-6">
            @Model.Tipologia
        </dt>
        <dt class="col-sm-6">
            Prezzo
        </dt>
        <dt class="col-sm-6">
            @Model.Prezzo
        </dt>
    </dl>
</div>
